<a href="{% url 'attendees:list' %}?tab=scanner" class="nav-link"><i class="fa-solid fa-qrcode"></i><span>Scanner QR</span></a>
<a href="{% url 'attendees:list' %}?tab=lista" class="nav-link"><i class="fa-solid fa-list"></i><span>Lista asistentes</span></a>
<a href="{% url 'attendees:list' %}?tab=crear" class="nav-link"><i class="fa-solid fa-user-plus"></i><span>Nuevo asistente</span></a>
<a href="{% url 'attendees:list' %}?tab=evento-dia" class="nav-link"><i class="fa-solid fa-bolt"></i><span>Dia de evento</span></a>
<a href="{% url 'attendees:list' %}?tab=gastos" class="nav-link"><i class="fa-solid fa-receipt"></i><span>Gastos</span></a>
<a href="{% url 'attendees:list' %}?tab=vaciar-caja" class="nav-link"><i class="fa-solid fa-vault"></i><span>Vaciar caja</span></a>
{% if can_manage_categories %}
<a href="{% url 'catalog:list' %}#categorias-sucursal" class="nav-link"><i class="fa-solid fa-tags"></i><span>Categorias</span></a>
{% endif %}
