<a href="{% url 'sales:pos' %}" class="nav-link"><i class="fa-solid fa-martini-glass-citrus"></i><span>Punto de venta</span></a>
<a href="{% url 'sales:list' %}" class="nav-link"><i class="fa-solid fa-table-list"></i><span>Ventas</span></a>
<a href="{% url 'sales:pos' %}?action=productos" class="nav-link"><i class="fa-solid fa-plus"></i><span>Agregar producto</span></a>
<a href="{% url 'sales:pos' %}?action=evento-productos" class="nav-link"><i class="fa-solid fa-sliders"></i><span>Productos del evento</span></a>
<a href="{% url 'sales:pos' %}?action=gastos" class="nav-link"><i class="fa-solid fa-receipt"></i><span>Gastos</span></a>
<a href="{% url 'sales:pos' %}?action=vaciar-caja" class="nav-link"><i class="fa-solid fa-vault"></i><span>Vaciar caja</span></a>
